<div class="container">
  <div class="row">
    <h1>Pending Contributor Applications</h1>
  </div> 
  <div class="row">
    <table class="col s12 highlight responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Essay</th>
          <th>Decision</th>
        </tr>
      </thead>
      <tbody>
        <% @pending_contributor_applications.each do |app| %>
          <tr>
            <td><%= app.user.full_name %></td>
            <td><%= simple_format(app.content) %></td>
            <td>
              <%= link_to "Accept", contributor_application_path(app, approved: "yes"), method: :put, class: "btn waves-effect waves-light green" %>
              <%= link_to "Deny", contributor_application_path(app, approved: "no"), method: :put, class: "btn waves-effect waves-light red" %>
            </td>
          </tr>    
        <% end %>
      </tbody>
    </table>
  </div>
</div>